<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Avast, tiss a fine sunrise buckos!</title>
		<link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
	</head>
	<body>
		<section class="container">
			<h1><%= @title %></h1>
			<%= yield %>
		</section>
		<footer class="container">
			<small>Made by <a href="http://www.steveebenezer.me/" target="_blank">Steve</a></small>
		</footer>
	</body>
</html>